/* Basic colors */
.c-blue {
	color: #001281;
}

.c-green {
	color: #5EAB00;
}

.c-pink {
	color: #A20041;
}

.c-orange {
	color: #BC8700;
}

.smaller {
	font-size: 0.5em;
	vertical-align: middle;
}

/* Special elements */
.nib-bundle {
	box-shadow: 1px 1px 8px #aaa;
	height: 100%;
	min-height: 30em;
	box-sizing: border-box;
	margin-top: 1em;
	background-color: #FCFCDF;
}

.nib-bundle li {
	list-style: none;
}

.nib-bundle li * {
	vertical-align: middle;
}

.nib-bundle li h4 {
	overflow: hidden;
}

.nib-bundle > h3 {
	padding: 1em 0;
	text-align: center;
}

.nib-bundle ~ button {
	display: block;
	width: 100%;
}

/* Colors for the code highlighting */
.js-fn, .js-keyword, .js-number, .js-comment, .js-op {
	font-weight: bold;
}

.js-fn {
    color: purple;
}

.js-string {
    color: red;
}

.js-keyword {
    color: #136;
}

.js-number {
    color: #228;
}

.js-comment {
    color: #777;
}

.js-op {
    color: green;
}

.js-pre {
	line-height: 1.3em;
	font-size: 0.9em;
	padding: 1em 0.5em;
	margin: 1em 0;
	box-sizing: border-box;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.f-mono, .js-pre {
	font-family: "Andale Mono", AndaleMono, monospace;
	white-space: pre-wrap;
}

.fluid {
	display: block;
	width: 100%;
}

a.panel {
	display: block;
}

#application {
	background-color: white;
	box-shadow: 3px 3px 6px #aaa;
	padding-bottom: 3em;
}

.top-bar ul > li {
	width: 33%;
	display: inline-block;
	text-align: center;
}

#application > div > h2 {
	display: none;
}

@media (min-width: 40em) {
	#application {
		width: 80%;
		margin: auto;
	}

	.top-bar ul > li { 
		width: auto;
	}


	#application > div > h2 {
		display: block;
	}
}
